<% if logged_in? %>

    <% if current_user.liked?(article) %>
        
        <div class="like">
        
            <%= form_with(model: current_user.favorites.find_by(article_id: article.id), local: true, method: :delete) do |f| %>
            
                <%= hidden_field_tag :article_id, article.id %>
                
                <%= f.submit 'いいね', class: 'btn btn-danger btn-inline-block' %>
                
                <div class="balloon">
                    
                    <span class="number">
                        <%= article.favorites_count %>
                    </span>
                    
                </div>
                
            <% end %>
            
        </div>
        
    <% else %>
        
            <%= form_with(model: current_user.favorites.build, local: true) do |f| %>
            
                <%= hidden_field_tag :article_id, article.id %>
                
                <%= f.submit 'いいね', class: 'btn btn-light btn-inline-block' %>
                
                <div class="balloon">
                    
                    <span class="number">
                        <%= article.favorites_count %>
                    </span>
                    
                </div>    
                
                
            <% end %>
        
    <% end %>
    
<% end %>