<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
            <%= @user.name %>
        </h3>
        <p>@<%= @user.username %></p>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
    
    <%= render 'relationships/follow_button', user: @user %>
    
    <div class="profile">
        
        <% if current_user == @user %>
        
          <%= link_to 'プロフィールの編集をする', edit_user_path(@user) %>
          
        <% end %>
      
        <h4>プロフィール</h4>
        <div>
            <%= @user.introduce %>
        </div>
        <h4>年齢</h4>
        <div>
            <%= @user.age %>
        </div>
        <h4>性別</h4>
        <div>
            <%= @user.sex %>
        </div>
        <h4>現在地</h4>
        <div>
            <%= @user.address %>
        </div>
        
        <a class="btn btn-success btn-block" href="<%= followings_user_path(@user) %>">
          フォロー<span class="badge badge-secondary"><%= @count_followings %></span>
        </a>
        
        <a class="btn btn-success btn-block" href="<%= followers_user_path(@user) %>">
          フォロワー<span class="badge badge-secondary"><%= @count_followers %></span>
        </a>
        
        <a class="btn btn-success btn-block" href="<%= likes_user_path(@user) %>">
          お気に入り<span class="badge badge-secondary"><%= @count_favorites %></span>
        </a>
        
        <% if current_user == @user %>
        
          <%= link_to '新規投稿', new_article_path, class: 'btn btn-primary btn-block' %>
          
        <% end %>
    </div>
  </aside>
  <div class="col-sm-8">
    <h2>記事一覧<span class="badge badge-secondary ml-2"><%= @count_articles %></span></h2>
    
    <%= render 'articles/articles', articles: @articles %>
    
  </div>
</div>